"Mycelium.Bloom/Resources/Domain Libraries/Quantities and Units/Quantities.json" text eol=lf
Mycelium.Bloom/wwwroot/css/tokens.css text eol=lf
Mycelium.Bloom/Styles/Generated/MyceliumTokens/theme.css text eol=lf
Mycelium.Bloom/wwwroot/css/app.css text eol=lf
